/* ==========================================================================
    DEFAULT THEME - LIGHT VERSION
    ========================================================================== */
/* Color codes used for the theme */
$primary-color              : #228B22;
$gray                       : #0388ed;
$white                      : #fff;
$black                      : #000;
$dark-gray                  : mix(#000, $gray, 40%);
$darker-gray                : mix(#000, $gray, 60%);
$light-gray                 : mix(#fff, $gray, 50%);
$lighter-gray               : mix(#fff, $gray, 90%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #0066CC;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #fff;
    --global-footer-bg-color            : #000;
    --global-border-color               : #{$lighter-gray};
    --global-dark-border-color          : #{$primary-color};
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : mix(#fff,  #{$dark-gray}, 25%);
    --global-link-color                 : #0066CC;
    --global-link-color-hover           : mix(#000, #0066CC, 25%);
    --global-link-color-visited         : mix(#000, #0066CC, 40%);  
    --global-masthead-link-color        : #000;
    --global-masthead-link-color-hover  : #000;    
    --global-text-color                 : #000;
    --global-text-color-light           : #{$black};
    --global-thead-color                : #{$black};
    --global-footer-text-color-light    : #{$white};
}

