{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Computer Modern (CMU) Fonts -->
<style>
  @font-face {
    font-family: 'CMU Serif';
    src: url('https://fonts.gstatic.com/s/crimsontext/v14/wlp2gwHT24IM-_0L-zxjbGVV8zAf7ZBrSo6aH57I.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'CMU Serif';
    src: url('https://fonts.gstatic.com/s/crimsontext/v14/wlp6gwHT24IM-_0L-zxjYEb87M9f7ZBrSo6aH57I.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
  }
</style>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">